<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B22FB7FB1F26EB95008983B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22FB80C1F26ED11008983B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22FB8221F26ED3A008983B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22FB8541F271FD5008983B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22FB8601F272006008983B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
